@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: normal;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: normal;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
}

.welcome-sedona {
  text-align: center;
}

/*Кнопка коричневый цвет*/

.button {
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/*голубая кнопка*/

.button-blue {
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/*зеленая кнопка*/

.button-green {
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/*Ссылки навигации в header*/

.page-header {
  display: flex;
  width: 1200px;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 460px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-items:not(:last-child) {
  padding-right: 30px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
}

/*Кнопка "Хочу сюда"*/

.button-want-here {
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
}

/*Фон добро пожаловать в седону*/
.welcome-sedona {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #73a4c7;
  color: #ffffff;
}

/*Заголовок "О седоне"*/

.about-sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

/*Описание в приветствии*/

.description-five-advantage {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

/*Список преимуществ первый и второй блок*/

/*.advantage-list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}*/

.advantage-list .advantage-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-list-modify .advantage-item {
  background: rgba(131, 179, 211, 0.2);
}

.advantage-item {
  padding: 60px;
}

.advantage-sedona {
  background: #82b3d3;
  color: #ffffff;
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-sedona-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-description {
  color: #333333;
}

/*секция поиска отеля*/

.search-hotel {
  text-align: center;
}

.search-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search-hotel-description {
  font-size: 22px;
  line-height: 26px;
}

.button-search-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/*подписка на рассылку*/

.subscribe-catalog {
  text-align: center;
}

.subscribe-title-catalog {
  font-size: 30px;
  line-height: 36px;
}

.subscribe-descr-catalog {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe {
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #73a4c7;
  color: #ffffff;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscribe-descr {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

/*кнопка подписаться*/
.button-subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/*подвал*/
.footer-social-list {
  list-style: none;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

/*каталог*/
.backgroung-img-header-inner {
  background-image: url("../images/catalog/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #73a4c7;
  color: #ffffff;
}

/*заголовок каталога*/
.header-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

/*хлебные крошки*/
.breadcrums {
  color: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

/*фильтрация*/
.filter-content {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style: none;
}

.filter-title {
  font-weight: 700;
}

/*кнопка применить*/
.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/*кнопка сбросить форму*/
.reset-form {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/*резульат фильтра*/
.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

/*отображение карточек на странице*/
.select-filter {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.list-display {
  list-style: none;
}

/*карточки гостиниц*/
/*.hotel-card-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}*/

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.rating-hotel {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/*пагинация*/
.pagination {
  list-style: none;
}

.pagination-item-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-item-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.count-title {
  color: #333333;
}

.select-filter-count {
  color: #333333;
}
